name: Deploy Supabase Edge Functions

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Supabase CLI
        uses: supabase/setup-cli@v1
        with:
          version: latest

      - name: Debug Info
        run: |
          ls -R
          supabase --version

      - name: Deploy Edge Functions
        run: |
          supabase functions deploy telegram-bot --project-ref lnhwzzmcmlelpmqptwwz --no-verify-jwt --access-token ${{ secrets.SUPABASE_ACCESS_TOKEN }}
          supabase functions deploy send-tickets --project-ref lnhwzzmcmlelpmqptwwz --no-verify-jwt --access-token ${{ secrets.SUPABASE_ACCESS_TOKEN }}
